.news {
  &__search {
    width: 200px;
    margin: 20px 0 10px calc(50% - 100px);
    font-size: 17px;
    padding: 5px 10px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
