.app {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;

  &__container {
    width: 1120px;

    @media screen and (max-width: 1200px) {
      width: 950px;
    }
    @media screen and (max-width: 992px) {
      width: 540px;
    }
    @media screen and (max-width: 576px) {
      width: 310px;
    }
  }
}
